########## Gradle
.gradle/
#gradle/wrapper/gradle-wrapper.jar # Actually, this is needed
build/
out/
classes/
#gradlew
gradlew.bat
settings.gradle

########## Eclipse
*.launch
logs/

########## IDEA
.idea/
*.iml
*.ipr
*.iws

########## VSCode
.settings/
.vscode/
bin/
.classpath
.project

########## MacOS
*.DS_Store

########## Fabric
run/
remappedSrc/

########## Java
hs_err_*.log
replay_*.log
*.hprof
*.jfr


########## Other
*.png
tmp_workstuff/
hashcode_*